<div class="efiling-progress-container">
  <h1>E-file Progress</h1>
      <div class="grid-container">
        <table class="data-table">
          <thead>
            <tr>
              <th class="checkbox-column">
                <mat-checkbox></mat-checkbox>
              </th>
              <th class="actions-column">Actions</th>
              <th>Efie-Progress</th>
              <th>Efile-status</th>
              <th>Dataset</th>
              <th>Jurisdiction</th>
              <th>Entity Name</th>
              <th>Return Name</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through record groups -->
            <ng-container *ngFor="let group of recordGroups">
              <!-- Group header row -->
              <tr class="group-header-row">
                <td class="checkbox-column">
                  <mat-checkbox (change)="toggleGroupSelection(group, $event.checked)" 
                                [disabled]="!hasCompletedRecords(group.records)">
                  </mat-checkbox>
                </td>
                <td colspan="9" class="group-header">
                  {{ group.name }}
                </td>
              </tr>
              
              <!-- Records for this group -->
              <tr *ngFor="let record of group.records">
                <td class="checkbox-column">
                  <mat-checkbox *ngIf="isRecordCompleted(record)" 
                                [checked]="group.selected">
                  </mat-checkbox>
                </td>
                <td class="actions-column">
                  <button mat-icon-button [matMenuTriggerFor]="rowMenu" (click)="selectedRow = record">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
                <td class="progress-cell">
                  <mat-progress-bar 
                    mode="determinate" 
                    [value]="getProgressValue(record.efileProgress, record.dataset)"
                    [ngClass]="getProgressBarClass(record.dataset, getProgressValue(record.efileProgress, record.dataset))">
                  </mat-progress-bar>
                </td>
                <td>{{ record.efileStatus }}</td>
                <td>{{ record.dataset }}</td>
                <td>{{ record.jurisdiction }}</td>
                <td>{{ record.entityName }}</td>
                <td><a href="javascript:void(0)" class="return-link">{{ record.returnName }}</a></td>
                <td>{{ record.startDate }}</td>
                <td>{{ record.endDate }}</td>
              </tr>
            </ng-container>
            
            <!-- Fallback if no groups -->
            <ng-container *ngIf="recordGroups.length === 0">
              <tr *ngFor="let record of inProgressRecords">
                <td class="checkbox-column">
                  <mat-checkbox *ngIf="isRecordCompleted(record)"></mat-checkbox>
                </td>
                <td class="actions-column">
                  <button mat-icon-button [matMenuTriggerFor]="rowMenu" (click)="selectedRow = record">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
                <td class="progress-cell">
                  <mat-progress-bar 
                    mode="determinate" 
                    [value]="getProgressValue(record.efileProgress, record.dataset)"
                    [ngClass]="getProgressBarClass(record.dataset, getProgressValue(record.efileProgress, record.dataset))">
                  </mat-progress-bar>
                </td>
                <td>{{ record.efileStatus }}</td>
                <td>{{ record.dataset }}</td>
                <td>{{ record.jurisdiction }}</td>
                <td>{{ record.entityName }}</td>
                <td><a href="javascript:void(0)" class="return-link">{{ record.returnName }}</a></td>
                <td>{{ record.startDate }}</td>
                <td>{{ record.endDate }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
  
  <!-- Action menu -->
  <mat-menu #rowMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item *ngFor="let item of actionMenuItems" (click)="onActionClick(item.action)">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
