<header class="header">
  <div class="menu-toggle">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="brand">
    <div class="thomson-reuters">THOMSON REUTERS</div>
    <div class="onesource">INDIRECT TAX</div>
  </div>
  <div class="header-icons">
    <button mat-icon-button routerLink="/dashboard">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>description</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>info</mat-icon>
    </button>
  </div>
</header>
